<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CrossBrowser/MultiBrowser</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>17/07/09 10:41:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkDeleteIssue.before()[pri:0, instance:test.checkDeleteIssue@523884b2]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/07/09 10:41:28</td>   <td>16293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="checkDeleteIssue.deleteIssue()[pri:0, instance:test.checkDeleteIssue@523884b2]">deleteIssue</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/07/09 10:41:54</td>   <td>42464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;checkDeleteIssue.after()[pri:0, instance:test.checkDeleteIssue@523884b2]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/07/09 10:41:55</td>   <td>43018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkTheStatusColor.before()[pri:0, instance:test.checkTheStatusColor@5b275dab]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/07/09 10:42:09</td>   <td>56966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="checkTheStatusColor.verifyColor()[pri:0, instance:test.checkTheStatusColor@5b275dab]">verifyColor</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a485d2">  <td>17/07/09 10:42:13</td>   <td>60973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;checkTheStatusColor.after()[pri:0, instance:test.checkTheStatusColor@5b275dab]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/09 10:42:13</td>   <td>61308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;searchForTheIssue.before()[pri:0, instance:test.searchForTheIssue@61832929]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/09 10:42:27</td>   <td>75228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="searchForTheIssue.searchIssue()[pri:0, instance:test.searchForTheIssue@61832929]">searchIssue</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/07/09 10:42:50</td>   <td>98230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;searchForTheIssue.after()[pri:0, instance:test.searchForTheIssue@61832929]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/09 10:42:51</td>   <td>98814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkFooterLogoSize.before()[pri:0, instance:test.checkFooterLogoSize@29774679]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/09 10:43:05</td>   <td>113373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="checkFooterLogoSize.verifyLogoSize()[pri:0, instance:test.checkFooterLogoSize@29774679]">verifyLogoSize</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>17/07/09 10:43:09</td>   <td>117257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;checkFooterLogoSize.after()[pri:0, instance:test.checkFooterLogoSize@29774679]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/09 10:43:09</td>   <td>117564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkLostPassword.before()[pri:0, instance:test.checkLostPassword@3ffc5af1]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/09 10:43:15</td>   <td>123516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="checkLostPassword.checkLostPass()[pri:0, instance:test.checkLostPassword@3ffc5af1]">checkLostPass</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>17/07/09 10:43:24</td>   <td>132393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;checkLostPassword.after()[pri:0, instance:test.checkLostPassword@3ffc5af1]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/09 10:43:24</td>   <td>132676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkReportIssue.before()[pri:0, instance:test.checkReportIssue@5e5792a0]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/09 10:43:38</td>   <td>146611</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="checkReportIssue.reportIssue()[pri:0, instance:test.checkReportIssue@5e5792a0]">reportIssue</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>17/07/09 10:43:58</td>   <td>166521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;checkReportIssue.after()[pri:0, instance:test.checkReportIssue@5e5792a0]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/09 10:43:59</td>   <td>166928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;changeStatusToClose.before()[pri:0, instance:test.changeStatusToClose@26653222]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/09 10:44:13</td>   <td>181086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="changeStatusToClose.changeSttToClose()[pri:0, instance:test.changeStatusToClose@26653222]">changeSttToClose</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>17/07/09 10:44:54</td>   <td>222576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;changeStatusToClose.after()[pri:0, instance:test.changeStatusToClose@26653222]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/09 10:44:55</td>   <td>223266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;changeStatusToReslove.before()[pri:0, instance:test.changeStatusToReslove@3532ec19]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/09 10:45:09</td>   <td>237419</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="changeStatusToReslove.changeSttToResolve()[pri:0, instance:test.changeStatusToReslove@3532ec19]">changeSttToResolve</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/07/09 10:45:40</td>   <td>268030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;changeStatusToReslove.after()[pri:0, instance:test.changeStatusToReslove@3532ec19]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/09 10:45:40</td>   <td>268644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkAccessLevel.before()[pri:0, instance:test.checkAccessLevel@68c4039c]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/09 10:45:55</td>   <td>283495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="checkAccessLevel.accessLevel()[pri:0, instance:test.checkAccessLevel@68c4039c]">accessLevel</td> 
  <td>main@1540011289</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/09 10:46:04</td>   <td>292681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;checkAccessLevel.after()[pri:0, instance:test.checkAccessLevel@68c4039c]">&lt;&lt;after</td> 
<td>&nbsp;</td>  <td>main@1540011289</td>   <td></td> </tr>
</table>
