<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62aa67">  <td>17/12/12 13:37:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkDeleteIssue.before()[pri:0, instance:test.checkDeleteIssue@1bce4f0a]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="81b0a2">  <td>17/12/12 13:37:49</td>   <td>9155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkTheStatusColor.before()[pri:0, instance:test.checkTheStatusColor@5e3a8624]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>17/12/12 13:37:55</td>   <td>14290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;searchForTheIssue.before()[pri:0, instance:test.searchForTheIssue@5c3bd550]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>17/12/12 13:38:01</td>   <td>20715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkFooterLogoSize.before()[pri:0, instance:test.checkFooterLogoSize@91161c7]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/12/12 13:38:07</td>   <td>26493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkLostPassword.before()[pri:0, instance:test.checkLostPassword@604ed9f0]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/12/12 13:38:13</td>   <td>32909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkReportIssue.before()[pri:0, instance:test.checkReportIssue@6a4f787b]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/12/12 13:38:20</td>   <td>39629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;changeStatusToClose.before()[pri:0, instance:test.changeStatusToClose@685cb137]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/12/12 13:38:28</td>   <td>47631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;changeStatusToReslove.before()[pri:0, instance:test.changeStatusToReslove@6a41eaa2]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>17/12/12 13:38:36</td>   <td>55264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkAccessLevel.before()[pri:0, instance:test.checkAccessLevel@7cd62f43]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>17/12/12 13:38:43</td>   <td>63038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;checkSignUpNewAccount.before()[pri:0, instance:test.checkSignUpNewAccount@6d4b1c02]">&gt;&gt;before</td> 
<td>&nbsp;</td>  <td>main@540159270</td>   <td></td> </tr>
</table>
